<% layout('/layouts/commen.ejs') %>
<body>
    <h2>All things </h2>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        
    <% for(listing of initdata ) { %>

    <a href="/listings/<%= listing._id %>" class="class-link">
        <div id="har" class="card" style="width:23rem">
            <img src="<%= listing.image %>" class="card-img-top" alt="listing_image"style="height:20rem">
            <div class="card-body">

                <p class="card-text"><%= listing.title %><br>
                &#8377; <%=listing.price%> /night
                </p>
            </div>
        </div>
    </a>
    <% } %>
    </div>
    


