body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1 ;

}
.navbar{
    background-color: rgb(50, 144, 226);
}
.fa-compass{
    color: red;
    font-size:x-large;
}
.navbar-nav a{
    color:black !important; 

}

 /* footer */

footer{
    height: 100px;
    background-color:#eef1f4 !important;
    text-align: center;
    padding:5px;
}
.s-info {
    width: 100%;
}
.s-info i{
    font-size: 20px;
}
.c-info{
    width: 100%;
    color: black;
}

.c-info:hover{
    color: black;
    text-decoration: underline;

}
.privacy{
    width: 100%;
}
.privacy a {
    text-decoration: none;
}
.privacy a:hover {
    text-decoration:underline;
}


/* cards */


.card{
    border: none !important;
    margin-bottom:1rem;
    width:100%;

}
.card-body{
    padding: 0%;
    margin: 0%;
}

.card-img-top{

    border-radius: 20px !important;
}
.class-link{
    text-decoration: none;
}
.card:hover{
    opacity: 0.8;
    background-color: white;
}

/* edit button */

.edit-btn{
    background-color: red;
    border: none !important;
    height: 30px;
    border-radius: 4px;
}

/* show image */



.card-img-top{
    height:40vh;

}
.btns{
    display: flex;
} 

.btn{
    border: none !important;
    border-radius: 4px;
    background-color: black !important;
    color: white !important;
    height: 30px;
} 

/* Review cards */


.cards{
    border:  1px solid black;
    border-radius: 5px ;
    display: flex;
    
}



/* 


body{
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}

.container{
    flex: 1 ;

}



.navbar{
    background-color: rgb(50, 144, 226);
}
.fa-compass{
    color: red;
    font-size:x-large;
}
.navbar-nav a{
    color:black !important; 

}
footer{
    height: 100px;
    background-color:#eef1f4 !important;
    text-align: center;
    padding:5px;
}
.s-info {
    width: 100%;
}
.s-info i{
    font-size: 20px;
}
.c-info{
    width: 100%;
    color: black;
}

.c-info:hover{
    color: black;
    text-decoration: underline;

}
.privacy{
    width: 100%;
}
.privacy a {
    text-decoration: none;
}
.privacy a:hover {
    text-decoration:underline;
}


.card{
    border: none !important;
    margin-bottom:1rem;
    width:100%;

}
.card-body{
    padding: 0%;
    margin: 0%;
}

.card-img-top{

    border-radius: 20px !important;
}
.class-link{
    text-decoration: none;
}
.card:hover{
    opacity: 0.8;
    background-color: white;
}



.edit-btn{
    background-color: red;
    border: none !important;
    height: 30px;
    border-radius: 4px;
}



.show-img{
    height: 40vh;
}





.btns{
    display: flex;
}

.btn{
    border: none !important;
    border-radius: 4px;
    background-color: black !important;
    color: white !important;
    height: 30px;
} */